<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем CSS-файл Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключаем JavaScript-файл Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #f8f8f8;
            padding: 10px;
            text-align: center;
        }
        main {
            padding: 20px;
            text-align: left;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<header>
    <h1>Контакты</h1>
</header>
<main class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Свяжитесь с нами по телефону или электронной почте:</p>
            <ul>
                <li>Телефон: 8-800-123-45-67</li>
                <li>Email: info@example.com</li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>
